@{
    ViewBag.Title = "Home Page";
}

<!-- Carousel -->
<div id="main-slide" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators visible-lg visible-md">
        <li data-target="#main-slide" data-slide-to="0" class="active"></li>
        <li data-target="#main-slide" data-slide-to="1"></li>
    </ol><!--/ Indicators end-->
    <!-- Carousel inner -->
    <div class="carousel-inner">
        <div class="item active" style="background-image: url(/Scripts/Images/slider-main-01.jpg) ">
        </div><!--/ Carousel item end -->

        <div class="item" style="background-image: url(/Scripts/Images/slider-main-02.jpg) ">
        </div><!--/ Carousel item end -->
    </div><!-- Carousel inner end-->
    <!-- Controllers -->
    <a class="left carousel-control" href="#main-slide" data-slide="prev">
        <span><i class="fa fa-angle-left"></i></span>
    </a>
    <a class="right carousel-control" href="#main-slide" data-slide="next">
        <span><i class="fa fa-angle-right"></i></span>
    </a>

    <span class="down-arrow-transparent"></span>
</div><!--/ Carousel end -->

<section id="news" class="news">
    <div class="container">

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="latest-post">
                    <img class="img-responsive" src="~/Scripts/Images/newsimg-01.jpg" alt="img">
                    <div class="post-body">
                        <h4 class="post-title">
                            <a href="#">最新消息標題最新消息標題最新消息標題最新消息標題</a>
                        </h4>
                        <span class="post-item-date">
                            <i class="fa fa-clock-o"></i> 2016-03-28
                        </span>
                        <div class="post-text">
                            <p>最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文...</p>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary">More</a>
                </div><!-- Latest post end -->
            </div><!-- 1st post col end -->

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="latest-post">
                    <img class="img-responsive" src="~/Scripts/Images/newsimg-02.jpg" alt="img">
                    <div class="post-body">
                        <h4 class="post-title">
                            <a href="#">最新消息標題最新消息標題最新消息標題最新消息標題</a>
                        </h4>
                        <span class="post-item-date">
                            <i class="fa fa-clock-o"></i> 2016-03-28
                        </span>
                        <div class="post-text">
                            <p>最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文...</p>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary">More</a>
                </div><!-- Latest post end -->
            </div><!-- 2nd post col end -->

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="latest-post">
                    <img class="img-responsive" src="~/Scripts/Images/newsimg-03.jpg" alt="img">
                    <div class="post-body">
                        <h4 class="post-title">
                            <a href="#">最新消息標題最新消息標題最新消息標題最新消息標題</a>
                        </h4>
                        <span class="post-item-date">
                            <i class="fa fa-clock-o"></i> 2016-03-28
                        </span>
                        <div class="post-text">
                            <p>最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文...</p>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary">More</a>
                </div><!-- Latest post end -->
            </div><!-- 3rd post col end -->

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="latest-post">
                    <img class="img-responsive" src="~/Scripts/Images/newsimg-04.jpg" alt="img">
                    <div class="post-body">
                        <h4 class="post-title">
                            <a href="#">最新消息標題最新消息標題最新消息標題最新消息標題</a>
                        </h4>
                        <span class="post-item-date">
                            <i class="fa fa-clock-o"></i> 2016-03-28
                        </span>
                        <div class="post-text">
                            <p>最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文最新消息內文...</p>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary">More</a>
                </div><!-- Latest post end -->
            </div><!-- 4rd post col end -->
        </div><!--/ Content row end -->
    </div><!--/ Container end -->
</section><!--/ News end -->